body{
    margin: 0;
    padding: 0;
}

header{
    padding: 2%;

    background-color: black;
    color: white;

    display: flex;
    align-items: center;
}

.bouton-container{
    margin-left: auto;
}

.bouton-normal{
  padding: 12px 28px;      /* hauteur / largeur des boutons */
  
  font-weight: 600;        /* semi-bold */
  text-decoration: none;
  border: none;
  border-radius: 999px;     /* forme pill */
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
}

header button{
  background-color: #fff;
  color: #000;
}

.main-container{
    display: flex;
}

.main-container button{
  background-color: #000;
  color: #fff;
}

.main-container div{
    padding: 2%;

    display: flex;
    flex-direction: column;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;

    width: 60%;
    align-self: center;

}

input{
    color: black;
    background-color: #D9D9D9;

    border: none;
    border-radius: 5px;
    padding: 4%;
    
    margin: 3% 0 3% 0;
}

input::placeholder{
    color: #000;
}

.type-parrainage {
    display: flex;
    flex-direction: row;
    max-width: 336px;
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 1;
    margin: 0 auto;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
  }
  .type-parrainage > input {
    display: none;
  }
  .type-parrainage > input:checked + label {
    color: white;
    background-color: black;
  }
  .type-parrainage > input:nth-of-type(1):checked ~ label:last-of-type:before {
    transform: translateX(calc(0% + 0px));
  }
  .type-parrainage > input:nth-of-type(2):checked ~ label:last-of-type:before {
    transform: translateX(calc(100% + 0px));
  }
  .type-parrainage > input:nth-of-type(3):checked ~ label:last-of-type:before {
    transform: translateX(calc(200% + 0px));
  }
  .type-parrainage label {
    flex: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 5px;
    font-size:larger;
  }
  .type-parrainage label:last-of-type:before {
    content: "";
    display: block;
    max-width: calc(33.3333333333% - 0px);
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateX(0);
  }
  .type-parrainage label {
    padding: 6px 3px;
    transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
  }
  .type-parrainage label:before {
    background: #fff;
    transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
  }
  .type-parrainage label:not(:last-child) {
    border-right: 1px solid #fff;
  }

.pub{
    color: white;
    background-color: black;

    width: 300px;
    height: 600px;

    display: flex;
    margin-left: auto;
}